.navbarContainer {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #81a1c1; /* Nord Blue */
}

/*
.navbar-header {
  cursor: pointer;
  margin-right: auto;
}
*/
