.navbarContainer {
  padding: 1rem;
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #5e81ac 5%, #81a1c1 100%);
}

/*
.navbar-header {
  cursor: pointer;
  margin-right: auto;
}
*/
