body {
  margin: 0;
  background-color: #eceff4; /* Nord white 2 */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flexbox;
  justify-content: space-around;
  align-content: space-around;
  background-color: #d8dee9;
  padding: 5px;
}

/*
.navText {
  color: #eceff4;
}

.imageCell {
  display: inline;
  margin: 10px;
}

.image {
  cursor: pointer;
}

.single-photo {
  width: 100%;
}
*/
